@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';

body {
	font-family: monospace;
	background-color: #fefefe;
}

.map-container {
	position: fixed;
	fill: #ddd;
}

.panel-container {
	width: auto;
	position: relative;
	float: left;
	display: inline-block;
	border-top: 1px solid black;
}

.hot {
	color: red;
}

.ad-point {
	fill: none;
	stroke-width: 1px;
	stroke: red;
	z-index: 25;
}

.info-button {
	width: auto;
	height: auto;
	top: 10px; right: 10px;
	padding: 3px;
	text-align: center;
	position: fixed;
	z-index: 15;
	font-family: 'Open Sans', sans-serif;
	color: #999;
	border: 1px solid #999;
}
.info-button:hover {
	color: #222;
	border: 1px solid #222;
	cursor: pointer;
}
.hover {
	fill: red;
}

.info-panel {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	background-color: #fefefe;
	opacity: 0.9;
	padding-left: 15%; padding-right: 15%;
	padding-top: 10%; padding-bottom: 10%;
	z-index: 12;
}
.info-panel-intro {
	font-family: 'Open Sans', sans-serif;
	font-size: 150%;
}

.title {
	width: auto;
	text-align: center;
	font-size: 200%;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
}

server-info {
	position: absolute;
	font-size: 120%;
	border-left: 10px solid #ddd;
	left: 10px;
	bottom: 10px;
	padding: 10px;
	z-index: 10;
	line-height: 150%;
	pointer-events: none;
}

info-pane {
	text-align: center;
	width: auto;
	line-height: 120%;
}
