body {
	background-color: #fefefe;
}

.map-container {
	position: relative;
	float: right;
	display: inline-block;
}
.panel-container {
	width: auto;
	position: relative;
	font-family: courier;
	float: left;
	display: inline-block;
	border-top: 1px solid black;
}
.panel {
	padding: 10px;
}

.hot {
	color: red;
	font-weight: bold;
}

.ad-point {
	stroke: red;
	stroke-width: 1px;
	fill: none;
}
.ad-point:hover {
	fill: red;
}

.info-button {
	width: auto;
	height: auto;
	top: 10px;
	right: 10px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	color: #222;
	z-index: 15;
	font-family: courier;
}
.info-button:hover {
	color: red;
	cursor: pointer;
}

.info-panel {
	position: absolute;
	font-family: courier;
	font-size: 20px;
	background-color: #fefefe;
	opacity: 0.9;
	padding: 15%;
	z-index: 12;
}
.right {
	text-align: right;
}

.title {
	font-size: 150%;
	font-style: italic;
	font-weight: bold;
	color: red;
}

server-info {
	position: absolute;
	font-family: courier;
	border-left: 10px solid red;
	left: 10px;
	bottom: 10px;
	padding: 10px;
	z-index: 10;
	line-height: 200%;
}
